.wrapper {
  background-color: var(--chateau-green);
  height: 100em;
  padding-top: 136px;

  .content {
    display: flex;
    align-items: center;

    flex-direction: column;
    gap: 25px;

    .content-text {
      display: flex;
      flex-direction: column;
      gap: 4px;
      color: white;
      margin-left: -218px;

      h4 {
        font-weight: 600;
      }

      span {
        color: rgba($color: white, $alpha: 0.6);
      }
    }
  }

  .processor {
    width: 571px;
    height: 93px;
    border: 1.5px solid var(--everglade);
    padding: 10.5px 15px 10.5px 15px;
    position: relative;

    .bars {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 11px;
      width: 100%;

      .bar {
        width: 35px;
        height: 72px;
        // background: linear-gradient(to-right, rgba(217, 217, 217, 0.5), white);
        background: linear-gradient(to right, rgba(217, 217, 217, 0.5), white);
        background-size: 200% 100%;
        animation: colorChange 0.7s forwards;

        &:nth-child(1) {
          animation-delay: 0s;
          background: white;
        }

        &:nth-child(2) {
          animation-delay: 0.7s;
        }

        &:nth-child(3) {
          animation-delay: 1.4s;
        }

        &:nth-child(4) {
          animation-delay: 2.1s;
        }

        &:nth-child(5) {
          animation-delay: 2.8s;
        }

        &:nth-child(6) {
          animation-delay: 3.5s;
        }

        &:nth-child(7) {
          animation-delay: 4.2s;
        }

        &:nth-child(8) {
          animation-delay: 4.9s;
        }

        &:nth-child(9) {
          animation-delay: 5.6s;
        }

        &:nth-child(10) {
          animation-delay: 6.3s;
        }

        &:nth-child(11) {
          animation-delay: 7s;
        }

        &:nth-child(12) {
          animation-delay: 7.7s;
        }

        &:last-child {
          animation-iteration-count: infinite;
        }
      }

      @keyframes colorChange {
        0% {
          background-position: 0 0;
        }
        100% {
          background-position: -100% 0;
        }
      }
    }

    .outer-bar {
      width: 20px;
      height: 25.5px;
      background-color: var(--everglade);
      position: absolute;
      right: -20px;
      top: 33.1px;
    }
  }
}
