.top-snippet-wrapper {
  background-color: var(--kangaroo);
  position: fixed;
  height: 28px;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 1000;

  .top-snippet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cod-gray);
    width: 100%;
  }

  .top-snippet-nav {
    display: flex;
    align-items: center;
    gap: 16px;

    a {
      color: var(--cod-gray);
      cursor: pointer;
    }

    .seller-login {
      display: flex;
      align-items: center;
      gap: 6.5px;
    }
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .top-snippet-wrapper {
    display: none;

    .top-snippet {
    }

    .top-snippet-nav {
      .seller-login {
      }

      .top-snippet a {
      }
    }
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .top-snippet-wrapper {
    background-color: var(--kangaroo);
    position: fixed;
    height: 58px;
    top: 0;
    z-index: 1000;

    .top-snippet {
      color: var(--cod-gray);
      width: 100%;
      height: 100%;

      .top-snippet-text {
        width: 45%;
      }

      .top-snippet-nav {
        display: flex;
        align-items: center;
        gap: 16px;
        height: 100%;
        width: 30%;

        .seller-login {
          display: flex;
          align-items: center;
          gap: 6.5px;
        }

        .top-snippet a {
          color: var(--cod-gray);
        }
      }
    }
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .top-snippet-wrapper {
    background-color: var(--kangaroo);
    position: fixed;
    height: 58px;
    top: 0;
    z-index: 1000;

    .top-snippet {
      color: var(--cod-gray);
      width: 100%;
      height: 100%;

      .top-snippet-text {
        width: 45%;
      }

      .top-snippet-nav {
        display: flex;
        align-items: center;
        gap: 16px;
        height: 100%;
        width: 30%;

        .seller-login {
          display: flex;
          align-items: center;
          gap: 6.5px;
        }

        .top-snippet a {
          color: var(--cod-gray);
        }
      }
    }
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
}
