.wrapper {
  display: grid;
  padding-top: 73px;
  padding-bottom: 62px;
  grid-gap: 46px;

  h3 {
    color: var(--chateau-green);
    padding-bottom: 54px;
    font-weight: 500;
  }

  .customer_info {
    display: grid;
    place-items: left;
    padding-bottom: 15px;
  }

  .testimonials {
    display: grid;
    place-items: center;
    grid-gap: 13px;

    .quote {
      display: grid;
      place-items: center;
      position: relative;
      h6 {
        position: absolute;
        top: 40%;
        white-space: nowrap;
        font-weight: 500;
      }
    }

    p {
      max-width: 677px;
      text-align: center;
    }

    .testimonial_button {
      padding: 8px 24px 8px 24px;
    }
  }
}

@media screen and (max-width: 700px) {
  .wrapper {
    display: grid;
    padding-top: 50px;
    padding-bottom: 62px;
    grid-gap: 10px;

    .testimonials {
      display: grid;
      place-items: center;
      grid-gap: 13px;
      padding-top: 60px;

      .quote {
        display: grid;
        place-items: center;
        position: relative;
        h6 {
          position: absolute;
          top: 40%;
          white-space: nowrap;
          font-weight: 500;
        }
        .dark_blockquote {
          width: 72px;
        }
      }

      p {
        max-width: 677px;
        text-align: center;
      }

      .testimonial_button {
        padding: 8px 24px 8px 24px;
      }
    }
  }
}
@media screen and (min-width: 701px) {
  .wrapper {
    display: grid;
    padding-top: 73px;
    padding-bottom: 62px;
    grid-gap: 54px;

    .testimonials {
      display: grid;
      place-items: center;
      grid-gap: 13px;

      .quote {
        display: grid;
        place-items: center;
        position: relative;
        h6 {
          position: absolute;
          top: 40%;
          white-space: nowrap;
          font-weight: 500;
        }
      }

      p {
        max-width: 677px;
        text-align: center;
      }

      .testimonial_button {
        padding: 8px 24px 8px 24px;
      }
    }
  }
}
@media screen and (min-width: 801px) {
  .wrapper {
    display: grid;
    padding-top: 73px;
    padding-bottom: 62px;
    grid-gap: 54px;

    .testimonials {
      display: grid;
      place-items: center;
      grid-gap: 13px;

      .quote {
        display: grid;
        place-items: center;
        position: relative;
        h6 {
          position: absolute;
          top: 40%;
          white-space: nowrap;
          font-weight: 500;
        }
      }

      p {
        max-width: 677px;
        text-align: center;
      }

      .testimonial_button {
        padding: 8px 24px 8px 24px;
      }
    }
  }
}
@media screen and (min-width: 901px) {
  .wrapper {
    display: grid;
    padding-top: 73px;
    padding-bottom: 62px;
    grid-gap: 54px;

    .testimonials {
      display: grid;
      place-items: center;
      grid-gap: 13px;

      .quote {
        display: grid;
        place-items: center;
        position: relative;
        h6 {
          position: absolute;
          top: 40%;
          white-space: nowrap;
          font-weight: 500;
        }
      }

      p {
        max-width: 677px;
        text-align: center;
      }

      .testimonial_button {
        padding: 8px 24px 8px 24px;
      }
    }
  }
}
@media screen and (min-width: 1001px) {
  .wrapper {
    display: grid;
    padding-top: 73px;
    padding-bottom: 62px;
    grid-gap: 54px;

    .testimonials {
      display: grid;
      place-items: center;
      grid-gap: 13px;

      .quote {
        display: grid;
        place-items: center;
        position: relative;
        h6 {
          position: absolute;
          top: 40%;
          white-space: nowrap;
          font-weight: 500;
        }
      }

      p {
        max-width: 677px;
        text-align: center;
      }

      .testimonial_button {
        padding: 8px 24px 8px 24px;
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .wrapper {
    display: grid;
    padding-top: 73px;
    padding-bottom: 62px;
    grid-gap: 54px;

    .testimonials {
      display: grid;
      place-items: center;
      grid-gap: 13px;

      .quote {
        display: grid;
        place-items: center;
        position: relative;
        h6 {
          position: absolute;
          top: 40%;
          white-space: nowrap;
          font-weight: 500;
        }
      }

      p {
        max-width: 677px;
        text-align: center;
      }

      .testimonial_button {
        padding: 8px 24px 8px 24px;
      }
    }
  }
}
