.edit-page {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-top: 70px;
  .top-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 16px;
    gap: 21px;
    width: 100%;
    .back {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .button {
        padding: 8px 34px 8px 34px;
        width: fit-content;
      }
    }
  }
  .border-top {
    width: 100%;
    height: 1px;
    background-color: var(--cod10);
    margin-top: 15px;
    margin-bottom: 24px;
  }
  .main {
    .cards {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      padding-top: 24px;
      .card {
        width: 300px;
        height: 158px;
        background-color: #fff;
        border-radius: 4px;
        padding: 9px 22px 9px 22px;

        .custom_name_div {
          display: flex;
          align-items: center;
          gap: 8px;

          .sum {
            width: 28px;
            height: 28px;
            background: rgba(215, 142, 0, 0.08);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--gold-drop);
          }
        }

        .hr {
          height: 1px;
          margin: 7px -22px 12px -22px;
          background-color: var(--cod20);
        }

        .wattage-div,
        .hours-div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          .wattage,
          .hours {
            color: var(--cod60);
          }

          .calculate {
            display: flex;
            align-items: center;
            gap: 16px;
            .meter,
            .h-meter {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 76px;
              height: 32px;
              border: 1px solid var(--kangaroo);
              border-radius: 4px;
              background-color: var(--desert-storm);

              .meter-number,
              .h-number {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 74%;
                padding: 4px 14px 4px 14px;
                border-right: 1px solid var(--kangaroo);
              }
              .arrows,
              .h-arrows {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 26%;
                background-color: #fff;
                height: 100%;
                cursor: pointer;

                .arrow-up,
                .h-arrow-up {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: 6px;
                  border-bottom: 1px solid var(--kangaroo);
                }

                .arrow-down,
                .h-arrow-down {
                  padding: 6px;
                }
              }
            }
            .acronym,
            .h-acronym {
              color: var(--chateau-green);
            }
          }
        }
        .hr2 {
          height: 1px;
          margin: 7px -22px 12px -22px;
          background-color: var(--cod20);
          margin-top: 11px;
          margin-bottom: 11px;
        }
      }
    }
  }
}
