.home_page {
  width: 100%;
  overflow-x: hidden;
  position: relative;

  .testimonial_wrapper {
    background-color: white;

    .testimonial {
      margin-top: 145px;
      margin-bottom: 119px;
    }
  }
}
