.wrapper {
  max-width: 1120px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 70px;
  padding-top: 200px;

  .hero_text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 6px;
    .power {
      color: var(--chateau-green);
    }
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding-top: 120px;

    .hero_text {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: 6px;
      .power {
        color: var(--chateau-green);
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .wrapper {
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding-top: 190px;

    .hero_text {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: 6px;
      .power {
        color: var(--chateau-green);
      }
    }
  }
}

@media screen and (min-width: 901px) {
  .wrapper {
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 50px;
    padding-top: 220px;

    .hero_text {
      display: flex;
      align-items: flex-start;
      align-self: start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 6px;
      width: 40%;
      .power {
        color: var(--chateau-green);
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    max-width: 1120px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding-top: 200px;

    .hero_text {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: 6px;
      .power {
        color: var(--chateau-green);
      }
    }
  }
}
