.bg-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 0;
  height: 100%;

  .bg-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    object-fit: cover;
    height: 384px;
  }
  .bg-image-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 34px;
    position: absolute;
    color: var(--white);
    background-color: rgba(26, 26, 26, 0.7);
    width: 100vw;
    height: 384px;
    margin-top: -5%;
    .bg-image-content-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
    }
    .bg-image-content-button {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 53.5px;
      padding-right: 53.5px;
    }
  }
}

$breakpoint-mobile: 480px;
@media only screen and (max-width: $breakpoint-mobile) {
  .bg-image {
    .bg-img {
      height: 85vh;
    }
    .bg-image-content {
      padding-top: 10%;
      gap: 54px;
      background-color: rgba(26, 26, 26, 0.7);
      padding-inline: 10px;
      .bg-image-content-text {
        gap: 10px;

        h3 {
          line-height: 35px;
        }
      }
      .bg-image-content-button {
        padding: 10px;
        padding-inline: 20px;
      }
    }
  }
}

$breakpoint-tablet: 481px;
@media only screen and (min-width: $breakpoint-tablet) {
  .bg-image {
    .bg-img {
      height: 85vh;
    }
    .bg-image-content {
      padding-top: 0%;
      .bg-image-content-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
      }
      .bg-image-content-button {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 53.5px;
        padding-right: 53.5px;
      }
    }
  }
}

$breakpoint-laptops-desktops: 768px;
@media only screen and (min-width: $breakpoint-laptops-desktops) {
  .bg-image {
    .bg-img {
      height: 85vh;
    }
    .bg-image-content {
      height: 65vh;
      margin-top: 3%;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .bg-image {
    .bg-img {
      height: 85vh;
    }
    .bg-image-content {
      height: 65vh;
      margin-top: 0%;
    }
  }
}
