.battery-cards-wrapper {
  gap: 42px;
  padding-top: 39px;
  width: 100%;

  .battery-cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px;
    width: 100%;

    .battery-card {
      grid-column: span 3;
      justify-content: center;
      gap: 26px;
      background-color: var(--imgbg);
      width: 300px;
      height: 330px;
      border-radius: 4px;

      &:hover .battery-card-image {
        transform: translateY(-1%);
        transition: all 0.1s ease-in-out;
      }

      .battery-card-image {
        object-fit: contain;
        width: 230px;
        height: 189px;

        mix-blend-mode: multiply;
      }
      .battery-card-text {
        justify-content: center;

        gap: 8px;
        .battery-card-desc {
          color: var(--cod60);
        }
        .battery-card-price {
          color: var(--cod);
        }
      }
    }
  }
  .hr {
    background-color: rgba(0, 0, 0, 0.15);
    height: 1px;
    width: 100%;
  }

  .button {
    padding: 8px 24px 8px 24px;
    margin-bottom: 65px;
  }
}

$breakpoint-mobile: 480px;
@media (max-width: $breakpoint-mobile) {
  .battery-cards-wrapper {
    .battery-cards {
      .battery-card {
        width: 100%;
        grid-column: span 12;

        .battery-card-image {
        }
        .battery-card-text {
          .battery-card-desc {
          }
          .battery-card-price {
          }
        }
      }
    }
    .hr {
    }

    .button {
    }
  }
}

$breakpoint-tablet: 481px;
@media (min-width: $breakpoint-tablet) {
  .battery-cards-wrapper {
    .battery-cards {
      .battery-card {
        width: 100%;
        grid-column: span 6;

        .battery-card-image {
        }
        .battery-card-text {
          .battery-card-desc {
          }
          .battery-card-price {
          }
        }
      }
    }
    .hr {
    }

    .button {
    }
  }
}

$breakpoint-laptops-desktops: 768px;
@media (min-width: $breakpoint-laptops-desktops) {
  .battery-cards-wrapper {
    .battery-cards {
      .battery-card {
        width: 100%;
        grid-column: span 4;

        .battery-card-image {
        }
        .battery-card-text {
          .battery-card-desc {
          }
          .battery-card-price {
          }
        }
      }
    }
    .hr {
    }

    .button {
    }
  }
}

$breakpoint-large-screens: 1205px;
@media (min-width: $breakpoint-large-screens) {
  .battery-cards-wrapper {
    .battery-cards {
      .battery-card {
        width: 100%;
        grid-column: span 3;

        .battery-card-image {
        }
        .battery-card-text {
          .battery-card-desc {
          }
          .battery-card-price {
          }
        }
      }
    }
    .hr {
    }

    .button {
    }
  }
}
