.wrapper {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;

  .navbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-items: center;
    width: 100%;
    height: 70px;

    .logo_div {
      display: flex;
      cursor: pointer;
      .logo {
        align-self: center;
      }
    }

    .title {
      font-weight: 500;
      white-space: nowrap;
      margin-right: -150px;
    }
    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      width: 100%;
      white-space: nowrap;

      .link {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
