.navbar-wrapper {
  display: flex;
  align-items: center;
  background-color: var(--white);
  position: fixed;
  height: 70px;
  top: 28px;
  z-index: 1000;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  width: 100%;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .logo {
      width: 100%;
    }
    .energy-needs {
      display: flex;
      align-items: center;
      gap: 5.53px;
      text-transform: uppercase;
      .energy-title {
        font-weight: 400;
        font-size: 14px;
        line-height: 18;
        margin-right: -37px;
      }
    }

    .navlinks {
      display: flex;
      align-items: center;
      gap: 16px;

      .navlinks a {
        color: var(--cod-gray);
      }
      .count {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        background-color: var(--cod-gray);
        border-radius: 100px;
        padding: 7px, 11px, 7px, 11px;
        color: var(--white);
      }
    }

    .mobile-menu {
      .menu-wrapper {
        width: 100vw;
        height: 100vh;
        background-color: var(--cod-gray);
        opacity: 0.5;
        position: absolute;
        height: 90vh;
        left: 0;
        top: 59px;
      }
      .dropdown {
        color: var(--white);
        height: 90vh;
        width: 50vw;
        background-color: black;
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        animation: slide-in 0.8s ease;

        .dropdown a {
          display: flex;
          align-items: center;
          background-color: white;
          width: 100%;
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          height: 30px;
          color: var(--cod-gray);
        }

        .mobile-count {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 28px;
          height: 28px;
          background-color: var(--white);
          border-radius: 100px;
          padding: 7px, 11px, 7px, 11px;
          color: var(--cod-gray);
        }
      }
    }

    @keyframes slide-in {
      0% {
        transform: translateX(100%);
      }

      100% {
        transform: translateX(0%);
      }
    }
  }
}

/* Media Query for Mobile Devices */

@media (max-width: 480px) {
  .navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: fixed;
    height: 70px;
    width: 100%;
    right: 0;
    top: 0px;
    z-index: 1000;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;

      .logo {
      }
      .energy-needs {
        display: none;
        .energy-title {
          display: none;
        }
      }

      .navlinks {
        display: none;
        .navlinks a {
          display: none;
        }
        .count {
          display: none;
        }
      }

      .mobile-menu {
        display: flex;
        align-items: center;

        .open_menu,
        .close_menu {
          width: 25px;
        }

        .menu-wrapper {
          width: 100vw;
          height: 100vh;
          background-color: var(--cod-gray);
          opacity: 0.5;
          position: absolute;
          height: 90vh;
          top: 69px;
        }
        .dropdown {
          color: var(--white);
          height: 90vh;
          width: 50vw;
          background-color: black;
          position: absolute;
          right: 0;
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 20px;
          top: 70px;
          animation: slide-in 0.8s ease;

          .dropdown a {
            display: flex;
            align-items: center;
            background-color: white;
            width: 100%;
            margin-left: -20px;
            margin-right: -20px;
            padding-left: 20px;
            height: 30px;
            color: var(--cod-gray);
          }

          .mobile-count {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28px;
            height: 28px;
            background-color: var(--white);
            border-radius: 100px;
            padding: 7px, 11px, 7px, 11px;
            color: var(--cod-gray);
          }
        }
      }

      @keyframes slide-in {
        0% {
          transform: translateX(100%);
        }

        100% {
          transform: translateX(0%);
        }
      }
    }
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) {
  .navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: fixed;
    height: 70px;
    width: 100%;
    right: 0;
    top: 0px;
    z-index: 1000;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;

      .logo {
      }
      .energy-needs {
        display: none;
        .energy-title {
          display: none;
        }
      }

      .navlinks {
        display: none;
        .navlinks a {
          display: none;
        }
        .count {
          display: none;
        }
      }

      .mobile-menu {
        display: flex;
        align-items: center;

        .open_menu,
        .close_menu {
          width: 50px;
        }

        .menu-wrapper {
          width: 100vw;
          height: 100vh;
          background-color: var(--cod-gray);
          opacity: 0.5;
          position: absolute;
          height: 90vh;
          top: 69px;
        }
        .dropdown {
          color: var(--white);
          height: 90vh;
          width: 50vw;
          background-color: black;
          position: absolute;
          right: 0;
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 20px;
          top: 70px;
          animation: slide-in 0.8s ease;

          .dropdown a {
            display: flex;
            align-items: center;
            background-color: white;
            width: 100%;
            margin-left: -20px;
            margin-right: -20px;
            padding-left: 20px;
            height: 30px;
            color: var(--cod-gray);
          }

          .mobile-count {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28px;
            height: 28px;
            background-color: var(--white);
            border-radius: 100px;
            padding: 7px, 11px, 7px, 11px;
            color: var(--cod-gray);
          }
        }
      }

      @keyframes slide-in {
        0% {
          transform: translateX(100%);
        }

        100% {
          transform: translateX(0%);
        }
      }
    }
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) {
  .navbar-wrapper {
    display: flex;
    align-items: center;
    background-color: var(--white);
    position: fixed;
    height: 70px;
    top: 58px;
    z-index: 1000;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    width: 100%;

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;

      .logo {
        width: 100%;
      }
      .energy-needs {
        display: flex;
        align-items: center;
        gap: 5.53px;
        text-transform: uppercase;
        .energy-title {
          font-weight: 400;
          font-size: 14px;
          line-height: 18;
          margin-right: -37px;
        }
      }

      .navlinks {
        display: flex;
        align-items: center;
        gap: 16px;
        .navlinks a {
          color: var(--cod-gray);
        }
        .count {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 28px;
          height: 28px;
          background-color: var(--cod-gray);
          border-radius: 100px;
          padding: 7px, 11px, 7px, 11px;
          color: var(--white);
        }
      }

      .mobile-menu {
        .menu-wrapper {
          width: 100vw;
          height: 100vh;
          background-color: var(--cod-gray);
          opacity: 0.5;
          position: absolute;
          height: 90vh;
          left: 0;
          top: 59px;
        }
        .dropdown {
          color: var(--white);
          height: 90vh;
          width: 50vw;
          background-color: black;
          position: absolute;
          right: 0;
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 20px;
          animation: slide-in 0.8s ease;

          .dropdown a {
            display: flex;
            align-items: center;
            background-color: white;
            width: 100%;
            margin-left: -20px;
            margin-right: -20px;
            padding-left: 20px;
            height: 30px;
            color: var(--cod-gray);
          }

          .mobile-count {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28px;
            height: 28px;
            background-color: var(--white);
            border-radius: 100px;
            padding: 7px, 11px, 7px, 11px;
            color: var(--cod-gray);
          }
        }
      }

      @keyframes slide-in {
        0% {
          transform: translateX(100%);
        }

        100% {
          transform: translateX(0%);
        }
      }
    }
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) {
  .navbar-wrapper {
    display: flex;
    align-items: center;
    background-color: var(--white);
    position: fixed;
    height: 70px;
    top: 28px;
    z-index: 1000;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    width: 100%;

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;

      .logo {
        width: 100%;
      }
      .energy_needs {
        display: flex;
        align-items: center;
        gap: 5.53px;
        text-transform: uppercase;
        width: 100%;
        margin-right: 73px;
        .energy-title {
          display: flex;
          font-weight: 400;
          font-size: 14px;
          line-height: 18;
        }
      }

      .navlinks {
        display: flex;
        align-items: center;
        gap: 16px;
        .navlinks a {
          color: var(--cod-gray);
        }
        .count {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 28px;
          height: 28px;
          background-color: var(--cod-gray);
          border-radius: 100px;
          padding: 7px, 11px, 7px, 11px;
          color: var(--white);
        }
      }

      .mobile-menu {
        display: none;
        .menu-wrapper {
          width: 100vw;
          height: 100vh;
          background-color: var(--cod-gray);
          opacity: 0.5;
          position: absolute;
          height: 90vh;
          left: 0;
          top: 70px;
        }
        .dropdown {
          color: var(--white);
          height: 90vh;
          width: 50vw;
          background-color: black;
          position: absolute;
          right: 0;
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 20px;
          animation: slide-in 0.8s ease;

          .dropdown a {
            display: flex;
            align-items: center;
            background-color: white;
            width: 100%;
            margin-left: -20px;
            margin-right: -20px;
            padding-left: 20px;
            height: 30px;
            color: var(--cod-gray);
          }

          .mobile-count {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28px;
            height: 28px;
            background-color: var(--white);
            border-radius: 100px;
            padding: 7px, 11px, 7px, 11px;
            color: var(--cod-gray);
          }
        }
      }

      @keyframes slide-in {
        0% {
          transform: translateX(100%);
        }

        100% {
          transform: translateX(0%);
        }
      }
    }
  }
}
