.home-cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  grid-gap: 24px;
  position: relative;
  top: -80px;
  width: 100%;

  .home-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    width: 191px;
    height: 180px;
    .home-card img {
      width: 80px;
      height: 80px;
    }
    .home-card-text {
      color: var(--everglade);
      white-space: nowrap;
    }
  }
}

/*********************
**********************
**********************
**********************
 MEDIA QUERIES********
 *********************
 ******************** */

@media only screen and (max-width: 400px) {
  .home-cards {
    grid-gap: 20px;
    top: -30px;
    .home-card {
      grid-column: span 12;

      width: 100%;
    }
  }
}

@media only screen and (min-width: 401px) {
  .home-cards {
    grid-gap: 20px;
    .home-card {
      grid-column: span 6;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 650px) {
  .home-cards {
    .home-card {
      grid-column: span 4;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 850px) {
  .home-cards {
    .home-card {
      grid-column: span 3;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 1100px) {
  .home-cards {
    .home-card {
      grid-column: span 2;
      width: 100%;
    }
  }
}
