.filter-section {
  .filter-div {
    display: flex;
    align-items: end;
    padding-top: 70px;
    justify-content: space-between;
    width: 100%;

    .filter {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 19px;
      padding-top: 16px;

      .filter-text {
        color: var(--cod-gray);
      }

      .filter-bars {
        gap: 18px;

        .form {
          display: flex;
          align-items: center;
          border: none;
          outline: none;

          background-color: #fff;

          .select {
            appearance: none;
            border: none;
            outline: none;
            border-radius: 4px;
            padding: 12px 20px 12px 20px;
            cursor: pointer;
          }

          .arrow-down {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transform: scale(0.35);
          }
        }

        .search-box {
          display: flex;
          align-items: center;
          position: relative;
          .search {
            display: flex;
            align-items: center;
            width: 210px;
            height: 44px;
            padding-left: 55px;
            border: none;
            outline: none;
            border-radius: 4px;
            padding-right: 10px;
          }
          .search-icon {
            position: absolute;
            left: 23px;
            cursor: pointer;
          }
        }
      }
    }

    .continue-custom-div {
      display: flex;
      align-items: center;
      gap: 14px;
      .add-custom-div {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 195px;
        height: 34px;
        background-color: white;
        padding: 6px 16px 6px 16px;
        border-radius: 4px;
        cursor: pointer;
        .add-icon {
        }
      }

      .button {
        padding: 8px 40px 8px 40px;
      }
    }
  }

  .filter-border-bottom {
    background-color: var(--cod10);
    height: 1px;
    margin-top: 12px;
    margin-bottom: 24px;
  }
}

$breakpoint-mobile: 480px;
@media (max-width: $breakpoint-mobile) {
  .filter-section {
    width: 100%;
    .filter-div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      justify-content: center;
      padding-top: 70px;
      justify-content: space-between;
      width: 100%;

      .filter {
        .filter-text {
          color: var(--cod-gray);
        }

        .filter-bars {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;

          .form {
            .select {
            }
          }

          .search-box {
            .search {
            }
            .search-icon {
            }
          }
        }
      }

      .continue-custom-div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        .add-custom-div {
          .add-icon {
          }
        }

        .button {
          // padding: 8px 40px 8px 40px;
          width: fit-content;
        }
      }
    }

    .filter-border-bottom {
    }
  }
}

$breakpoint-tablet: 481px;
@media (min-width: $breakpoint-tablet) {
  .filter-section {
    .filter-div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      padding-top: 70px;
      justify-content: space-between;
      width: 100%;

      .filter {
        .filter-text {
        }

        .filter-bars {
          .form {
            .select {
            }
          }

          .search-box {
            .search {
            }
            .search-icon {
            }
          }
        }
      }

      .continue-custom-div {
        .add-custom-div {
          .add-icon {
          }
        }

        .button {
        }
      }
    }

    .filter-border-bottom {
    }
  }
}

$breakpoint-laptops-desktops: 768px;
@media (min-width: $breakpoint-laptops-desktops) {
  .filter-section {
    .filter-div {
      display: flex;
      align-items: end;
      flex-direction: row;
      padding-top: 70px;
      justify-content: space-between;
      width: 100%;

      .filter {
        .filter-text {
        }

        .filter-bars {
          .form {
            .select {
            }
          }

          .search-box {
            .search {
            }
            .search-icon {
            }
          }
        }
      }

      .continue-custom-div {
        .add-custom-div {
          .add-icon {
          }
        }

        .button {
        }
      }
    }

    .filter-border-bottom {
    }
  }
}

$breakpoint-large-screens: 1205px;
@media (min-width: $breakpoint-large-screens) {
  .filter-section {
    .filter-div {
      display: flex;
      flex-direction: row;
      padding-top: 70px;
      justify-content: space-between;
      width: 100%;

      .filter {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 19px;
        padding-top: 16px;

        .filter-text {
          color: var(--cod-gray);
        }

        .filter-bars {
          gap: 18px;

          .form {
            display: flex;
            width: 180px;
            height: 38px;
            border: none;
            outline: none;

            .select {
              width: 180px;
              height: 38px;
              border: none;
              outline: none;
              border-radius: 4px;
            }
          }

          .search-box {
            display: flex;
            align-items: center;
            position: relative;
            .search {
              display: flex;
              align-items: center;
              width: 210px;
              height: 44px;
              padding-left: 55px;
              border: none;
              outline: none;
              border-radius: 4px;
              padding-right: 10px;
            }
            .search-icon {
              position: absolute;
              left: 23px;
            }
          }
        }
      }

      .continue-custom-div {
        display: flex;
        align-items: center;
        gap: 14px;
        .add-custom-div {
          display: flex;
          align-items: center;
          gap: 10px;
          width: 195px;
          height: 34px;
          background-color: white;
          padding: 6px 16px 6px 16px;
          border-radius: 4px;
          cursor: pointer;
          .add-icon {
          }
        }

        .button {
          padding: 8px 40px 8px 40px;
        }
      }
    }

    .filter-border-bottom {
      background-color: var(--cod10);
      height: 1px;
      margin-top: 12px;
      margin-bottom: 24px;
    }
  }
}
